@import "variables";

@import "global";
@import "site-header";
@import "landing";
@import "users";
@import "leagues";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

#yeild-container {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%;
}
