// Place all the styles related to the league_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.league-user {
  height: 66px;
  padding: 5px;

  h3 {
    display: inline-block;
    margin: 0px;
    margin-top: 10px;
    margin-left: 10px;

    font-family: 'Futura';
    font-size: 24px;
    color: $plat;
  }

  h5 {
    display: inline-block;
    margin: 0px;
    margin-top: 10px;
    margin-left: 10px;

    font-family: 'Futura';
    font-size: 16px;
    color: $plat;
  }
}

.admin {
  background-color: $other-blue;
}

.member {

}
