// Place all the styles related to the Leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.league-container {
  width: 95%;
  padding: 15px;
  margin: auto;
  background-color: $plat;
}

.league-header {
  padding: 10px;
  margin: auto;
  background-color: $dark-blue;

  h1 {
    display: inline-block;
    margin: 0px;
    margin-top: 10px;
    font-family: Arial;
    color: $plat;
  }
}

.league-content {
  display: flex;
  margin-top: 15px;
}

.league-table {
  width: 30%;
  margin-right: 10px;
  background-color: white;
}

.league-users {
  width: 70%;
  background-color: white;
}

// Move to global file? 
.content-header {
  margin: 0px;
  padding: 5px;
  background-color: $dark-blue;
  font-family: Arial;
  color: $plat;
}
